$cursive: 'Farsan', sans-serif;
$sans-serif: 'Open Sans', Helvetica, sans-serif;

$white: white;

$theme-error: #d0021b;
$theme-success: #65b21c;
$theme-warning: #ea872b;

$theme1: #260065;
$theme2: #3038b5;
$theme3: #5ea1ff;
$theme4: #bfd9ff;
$theme5: #fc703d;
$theme6: #16aa95;
